@import "tailwindcss";

@theme {
  --color-brand-dark: #0f0f0f;
}

:root {
  background-color: black;
  color: white;
}

/* Force a test style to see if it's working */
body {
  background: #000 !important;
  color: #fff !important;
}